---
import type { CollectionEntry } from "astro:content";
import Section from "@/components/ui/Section.astro";

type Props = CollectionEntry<"main">["data"]["additional"];

const { title, text, link } = Astro.props;
---

<Section title={title} >
  <p>{text}</p>
  {link && (
    <a class="print:hidden underline underline-offset-2 underline-mute" href={link.href}>{link.name}</a>
    <span class="hidden print:(inline-block mt-0.5)">{link.href}</span>
    <span class="text-mute">{link.tip}</span>
  )}
</Section>