---
import { Image } from 'astro:assets';

import Section from "../ui/Section.astro";
import SkillList from "../ui/SkillList.astro";

import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"main">["data"]["portfolio"];

const { title, list } = Astro.props;

const images = await Astro.glob("/public/portfolio/*.png");
const getImg = (imgKey:string) => images.filter(item => item.default.src.includes(imgKey));
---

<Section title={title}>
  <div class="grid gap-y-12">
    {list.map((item, index) => (
      <div>
        <div>
          <h3 class="inline font-bold print:print:text-sm whitespace-nowrap uppercase">{item.name}</h3> – <p class="inline">{item.description}</p>
        </div>
        <div class="mt-2 print:mt-0">
          <div class="mt-1">
            <SkillList skills={item.tech.list} />
          </div>
        </div>
        {item.imgKey && (
          <div class="pswp-gallery mt-4 flex gap-2 overflow-x-auto">
            {getImg('parcel-static').map(imgItem => (
              <a class="border border-border shrink-0"
               data-fancybox="gallery-${index}"
               href={imgItem.default.src}
               target="_blank">
                <Image
                  src={imgItem.default}
                  alt="descriptive text"
                  width="125"
                  height="75"
                  class="aspect-video object-cover"
                />
              </a>
            ))}
          </div>
        )}
        <div class="mt-3 flex gap-2">
          {item.links.map((linkItem) => (
            <a target="_blank" class="inline-flex items-center text-sm gap-x-0.5 underline-offset-4 hover:text-primary hover:underline" href={linkItem.link}>
              <span class="i-lucide:link w-1em h-1em"></span>{linkItem.name}
            </a>
          ))}
        </div>
      </div>
    )
  )}</div>
</Section>

<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  document.addEventListener('astro:page-load', () => {
    Fancybox.bind("[data-fancybox]", { Hash: false });
  })
  
</script>