---
import type { CollectionEntry } from "astro:content";
import Section from "../ui/Section.astro";
import SkillList from "../ui/SkillList.astro";
type Props = CollectionEntry<"main">["data"]["portfolio"];

const { title, list } = Astro.props;

import { Image } from 'astro:assets';
---

<Section title={title} >
  <div class="grid gap-y-6">{list.map((item, index)=>{
    return (
      <div>
          <div class="">
              <h3 class="font-bold print:print:text-sm whitespace-nowrap uppercase">{item.name}</h3>
              <p>{item.description}</p>
          </div>
          <div class="mt-2 print:mt-0">
            <div class="mt-1">
              <SkillList skills={item.tech.list} />
            </div>
          </div>
          {item.images && item.images.length && (
            <div class="pswp-gallery mt-4 flex gap-2 overflow-x-auto">
              {item.images.map((imageUrl) => {
                const prewLink = imageUrl.replace('.','_preview.');
                return (
                  <a class="border border-border shrink-0"
                     data-fancybox=`gallery-${index}` 
                     href={`/cv/img/${imageUrl}`}
                     target="_blank">
                      <Image
                        src={`/cv/img/${prewLink}`}
                        alt="descriptive text"
                        width="125"
                        height="75"
                        class="aspect-video object-cover"
                      />
                  </a>
                )
              })}
            </div>
          )}
          <div class="mt-3 flex gap-2">{item.links.map((linkItem) => (
            <a class="inline-flex items-center text-sm gap-x-0.5 underline-offset-4 hover:text-primary hover:underline" href={linkItem.link}>
                <span class="i-lucide:link w-1em h-1em"></span>{linkItem.name}
            </a>
          ))}</div>
      </div>
    )
  })}</div>
</Section>

<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  Fancybox.bind("[data-fancybox]");
</script>


